.animation-box {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 100px;

    .flying-heart {
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 30px;
        z-index: 1;
        opacity: 0;
        -webkit-animation: flying-heart 5s ease forwards;
        /* Safari 4.0 - 8.0 */
        animation: flying-heart 5s ease forwards;

        &.bg-animation-1 {
            svg {
                path#solid {
                    fill: $svg-blue-animation;
                }
            }
        }

        &.bg-animation-2 {
            svg {
                path#solid {
                    fill: $svg-pink-animation;
                }
            }
        }

        &.bg-animation-3 {
            svg {
                path#solid {
                    fill: $svg-purple-animation;
                }
            }
        }

        &.animation-style-1 {
            -webkit-animation: flying-heart 5s ease forwards;
            /* Safari 4.0 - 8.0 */
            animation: flying-heart 5s ease forwards;
            //animation-delay: 0.5s;
        }

        &.animation-style-2 {
            -webkit-animation: flying-heart-2 5s ease-in forwards;
            /* Safari 4.0 - 8.0 */
            animation: flying-heart-2 5s ease-in forwards;
            //animation-delay: 1s;
        }

        &.animation-style-3 {
            -webkit-animation: flying-heart-3 5s ease-out forwards;
            /* Safari 4.0 - 8.0 */
            animation: flying-heart-3 5s ease-out forwards;
            //animation-delay: 1.5s;
        }
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flying-heart {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(15deg);
        opacity: 0.6;
        right: 30px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 10px;
    }

    75% {
        transform: rotate(-15deg);
        opacity: 0.6;
        right: 60px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 40px;
    }
}

/* Standard syntax */
@keyframes flying-heart {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(15deg);
        opacity: 0.6;
        right: 30px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 10px;
    }

    75% {
        transform: rotate(-15deg);
        opacity: 0.6;
        right: 60px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 40px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flying-heart-2 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(30deg);
        opacity: 0.6;
        right: 65px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 15px;
    }

    75% {
        transform: rotate(-30deg);
        opacity: 0.6;
        right: 0px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 35px;
    }
}

/* Standard syntax */
@keyframes flying-heart-2 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(30deg);
        opacity: 0.6;
        right: 65px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 15px;
    }

    75% {
        transform: rotate(-30deg);
        opacity: 0.6;
        right: 0px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 35px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flying-heart-3 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(-15deg);
        opacity: 0.6;
        right: 0px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 50px;
    }

    75% {
        transform: rotate(15deg);
        opacity: 0.6;
        right: 25px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 0px;
    }
}

/* Standard syntax */
@keyframes flying-heart-3 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(-15deg);
        opacity: 0.6;
        right: 0px;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.8;
        right: 50px;
    }

    75% {
        transform: rotate(15deg);
        opacity: 0.6;
        right: 25px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
        bottom: 500px;
        display: none;
        right: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flying-gift {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        left: 10px;
    }
}

/* Standard syntax */
@keyframes flying-gift {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        left: 10px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade-out-1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}

/* Standard syntax */
@keyframes fade-out-1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce-gift {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
        left: 60px;
        top: -5px;
        font-size: 22px;
    }

    50% {
        opacity: 0.6;
        left: 40px;
        top: 0;
        font-size: 19px;
    }

    75% {
        opacity: 0.8;
        left: 20px;
        top: 10px;
        font-size: 15px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        left: 0;
        top: 15px;
        font-size: unset;
    }
}

/* Standard syntax */
@keyframes bounce-gift {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
        left: 60px;
        top: -5px;
        font-size: 22px;
    }

    50% {
        opacity: 0.6;
        left: 40px;
        top: 0;
        font-size: 19px;
    }

    75% {
        opacity: 0.8;
        left: 20px;
        top: 10px;
        font-size: 15px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        left: 0;
        top: 15px;
        font-size: unset;
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
