html,
body.belive-app-body {
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        .main-page {
            //height: 100vh;
            //height: calc(var(--vh, 1vh) * 100); /* Use vh as a fallback for browsers that do not support Custom Properties */
            //min-height: calc(100vh - 110px);
            position: relative;

            .container-box {
                padding: 30px;
            }
        }
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }

    .input-border-secondary {
        border-radius: 10px;
        background-color: #ffffff;
        border: none;
    }

    .label-input {
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    input[type=checkbox],
    input[type=radio] {
        display: none;
    }

    input[type=checkbox]+.checkbox-custom {
        display: inline-block;
        padding: 0 0 0 0px;
        background: url("../static/media/icons/uncheck.png") no-repeat;
        height: 18px;
        width: 18px;
        ;
        background-size: 100%;
        margin-bottom: 0;
    }

    input[type=checkbox]:checked+.checkbox-custom {
        background: url("../static/media/icons/check-box.svg") no-repeat;
        height: 18px;
        width: 18px;
        display: inline-block;
        background-size: 100%;
        margin-bottom: 0;
    }

    input[type=radio]+.radio-custom {
        display: inline-block;
        padding: 0 0 0 0px;
        background: white;
        border: 1px solid #979797;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        background-size: 100%;
        margin-bottom: 0;
    }

    input[type=radio]:checked+.radio-custom {
        background: #fb2b62;
        border: 1px solid #fb2b62;
    }

    .hr-text {
        font-family: Montserrat;
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        font-size: 12.6px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #8d8d8d;
        text-align: center;
        height: 1.5em;
        margin-top: 5px;

        &:before {
            content: '';
            // use the linear-gradient for the fading effect
            // use a solid background color for a solid bar
            background: linear-gradient(to right, #8d8d8d, #8d8d8d);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            opacity: 0.3;
            height: 1px;
        }

        &:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            padding: 0 .5em;
            // this is really the only tricky part, you need to specify the background color of the container element...
            background-color: $color-gray-bg;
            font-family: Roboto;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #9b9b9b;
        }
    }

    .delete-confirm-modal {
        .delete-confirm-content-modal {
            border-radius: 10px;
            background-color: #ffffff;
        }

        .delete-confirm-footer-modal {
            text-align: center;
            justify-content: center;
            border: none;

            button {
                border-radius: 20px;
                border: solid 2px #ea3d54;
                padding: 5px 20px 3px 20px;
                font-family: Avenir;
                font-size: 13px;
                font-weight: 500;

                &.btn-secondary {
                    background-color: #ffffff;
                    color: #ea3d54;
                }
            }
        }
    }

    .manage-custom-page {
        font-family: Avenir;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        .container-admin-page {
            width: calc(100% - 250px);
            padding: 40px;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            /* Use vh as a fallback for browsers that do not support Custom Properties */
            min-height: calc(100vh - 110px);
            transition: all 0.3s;
            position: absolute;
            top: 0;
            right: 0;

            &.active {
                width: 100%;
            }

            .number-streams {
                font-family: Avenir;
                font-size: 18px;
                font-weight: 900;
                color: #2d2d2d;
                padding: 20px 0;

                .value-total-streams {
                    font-size: 18px;
                    font-weight: 900;
                    color: #ea3d54;
                }
            }
        }
    }

    .list-validations {
        color: red;
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 0;
    }

    .error-validation {
        color: red;
        font-size: 12px;
        padding: 5px 0;
    }

    .belive-table {
        .table-responsive {
            table {
                thead {
                    border-radius: 4px;
                    background-color: #ffe9ec;
                    font-family: Avenir;
                    font-size: 13px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;

                    th {
                        border: none;
                    }
                }

                tbody {
                    tr {
                        &:nth-child(2n) {
                            background-color: #edf7ff;
                        }

                        &:nth-child(2n + 1) {
                            background-color: white;
                        }

                        td {
                            border: none;
                            font-family: Avenir;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            letter-spacing: normal;
                            color: #4a4a4a;
                            line-height: 2;

                            &.order-col {}
                        }
                    }
                }

                .action-belive-tbl {
                    cursor: pointer;
                }

                .order-col {
                    text-align: center;
                }

                .download-col {
                    text-align: center;
                }

                .actions-col {
                    text-align: center;
                }

                .total-view-col {
                    text-align: center;
                }
            }
        }
    }

    .preview-video-box-layout {
        width: 100%;
        height: 100%;

        video {
            position: relative !important;
            object-fit: contain !important;
        }
    }

    .remote-video-box-layout {
        width: 100%;
        height: 100%;
        display: inline-flex;

        .live-streaming-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            .camera-video-wrapper {
                width: 100%;
                height: 100%;

                .video-camera {
                    width: 100%;
                    height: 100%;

                    &>div {
                        video {
                            position: relative !important;
                            object-fit: contain !important;
                        }
                    }
                }
            }

            .screen-share-video-wrapper {
                width: 100%;
                height: 100%;

                .video-screen-share {
                    width: 100%;
                    height: 100%;

                    &>div {
                        video {
                            position: relative !important;
                            object-fit: contain !important;
                        }
                    }
                }
            }
        }

        .co-host-video-wrapper {
            display: none;
            width: 200px;
            height: 100%;

            .your-local-video-wrapper {
                width: 100%;
                height: 100px;

                &>div {
                    border: 2px solid #ea3d54;

                    video {
                        position: relative !important;
                        object-fit: contain !important;
                    }
                }
            }

            .remote-video-wrapper {
                width: 100%;
                height: calc(100% - 100px);

                .video-remote {
                    width: 100%;
                    height: 100px;
                    border: 2px solid #f8f9fa;

                    video {
                        position: relative !important;
                    }
                }
            }
        }

        &.live-stream-layout {
            .live-streaming-wrapper {
                .camera-video-wrapper {
                    width: 100%;
                    height: 100%;

                    &>div {
                        video {
                            position: relative !important;
                            object-fit: contain !important;
                        }
                    }
                }
            }
        }

        &.live-with-share-screen {
            .live-streaming-wrapper {
                .camera-video-wrapper {
                    top: 0;
                    right: 0;
                    width: 170px;
                    height: 100px;
                    z-index: 2;
                    position: absolute;
                    border: 2px solid #ffc107;
                }

                .screen-share-video-wrapper {
                    &>div {
                        video {
                            position: relative !important;
                            object-fit: contain !important;
                        }
                    }
                }
            }
        }

        &.live-with-co-host {
            .live-streaming-wrapper {
                width: calc(100% - 200px);

                .camera-video-wrapper {
                    //position: absolute;
                }

                .screen-share-video-wrapper {
                    width: 100%;
                    height: 100%;

                    &>div {
                        video {
                            position: relative !important;
                            object-fit: contain !important;
                        }
                    }
                }
            }

            .co-host-video-wrapper {
                display: block;
            }
        }
    }

    .cropper-container {
        margin: 0 auto;
    }

    .btn-close-modal {
        top: 5px;
        right: 5px;
        position: absolute;
    }

    .copy-clipboard-modal {
        min-width: 350px;

        @media only screen and (max-width: 576px) {
            min-width: 300px;
        }

        &__title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2d2d2d;
            font-weight: 900;
        }

        &__header {
            border: none;
            padding: 25px 0px 4px 0px !important;
        }

        &__content {
            padding: 16px;
            border-radius: 16px;
            border: solid 1px #979797;
            background-color: #f2f2f2;
            font-family: Roboto;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        &__body {
            min-height: 90px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            color: #7b7878;
        }

        &__input {
            color: #8e8d8d;
            background-color: #d8d8d8 !important;
            text-align: center;
            border-radius: 0px;
        }


        &__footer {
            padding: 10px;
            padding-top: 0px;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    }

    .suntec-modal {
        min-width: 400px;

        @media only screen and (max-width: 576px) {
            min-width: 300px;
        }

        .logo-header {
            text-align: center;
            margin: 0;
            margin-top: 30px;
            width: 100%;
        }

        .btn-close-modal {
            top: 0;
            right: 0;
            position: absolute;
        }

        .img-logo-modal {
            width: 180px;
            height: auto;
        }

        &__header {
            display: block;
            border: none;
            padding-bottom: 0;
        }

        &__content {
            border-radius: 6px;
            border: solid 1px #979797;
            background-color: #f2f2f2;
            font-family: Roboto;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;

            @media only screen and (max-width: 576px) {
                padding: 0;
            }
        }

        &__body {
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            color: #7b7878;
        }


        &__footer {
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 12px;
        }
    }

    .btn-basic {
        color: #fff;
        padding: 4px 25px;
        min-width: 120px;
        font-size: 13px;
        border-radius: 16px;
        border: 1px solid #00194b;

        &--lg {
            font-size: 15px;
            padding: 9px 25px;
            border-radius: 30px;
            border: 1.5px solid #00194b;
            font-weight: 700;
        }
    }

    .btn-navy-blue {
        background-color: #00194b;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            background-color: #01153c !important;
        }

        &--outlined {
            color: #00194b;
            background-color: #fff;

            &:hover,
            &:active,
            &:focus {
                background-color: #00194b !important;
                color: #fff !important;
            }
        }
    }
}

@media (max-width: 992px) {

    html,
    body.belive-app-body {
        #app {
            .main-page {
                height: 100vh;
                height: calc(var(--vh, 1vh) * 100);
                /* Use vh as a fallback for browsers that do not support Custom Properties */
                min-height: calc(100vh - 87px);
            }
        }
    }
}

@media (max-width: 768px) {

    html,
    body.belive-app-body {
        .remote-video-box-layout {
            .co-host-video-wrapper {
                width: 100px;

                .your-local-video-wrapper {
                    height: 70px;
                }

                .remote-video-wrapper {
                    height: calc(100% - 70px);

                    .video-remote {
                        height: 70px;
                    }
                }
            }

            &.live-with-share-screen {
                .live-streaming-wrapper {
                    .camera-video-wrapper {
                        width: 100px;
                        height: 70px;
                    }
                }
            }

            &.live-with-co-host {
                .live-streaming-wrapper {
                    width: calc(100% - 100px);
                }
            }
        }
    }
}

@media (max-width: 576px) {

    html,
    body.belive-app-body {
        .remote-video-box-layout {
            &.live-with-share-screen {
                .live-streaming-wrapper {
                    .camera-video-wrapper {
                        //width: 100px;
                        //height: 70px;
                    }
                }
            }
        }
    }
}
