// Color Variables
$color-linear-primary: linear-gradient(to right, #ff6840, #fb2b62);
$color-custom-primary: #f7ed37;
$color-custom-secondary: #f7ed37;
$color-custom-disabled: #e9ecef;
$color-custom-link: #fb2b62;
$color-gray-bg: #F2F2F2;

$border-radius-secondary: 10.8px;

// Typography
$font-primary: 'Roboto';
$font-secondary: 'OpenSans';

//bg svg animation
$svg-blue-animation: #61c0c4;

$svg-purple-animation: #BFABF6;

$svg-pink-animation: #FFB2C6;
