@font-face {
	font-family: Avenir;
	src: url(../fonts/Avenir/AvenirLTStd-Roman.otf);
}

/* Modify main page*/
.belive-main-page {
	/*background: #1e1e1e;*/
	/*color: white;*/
}

/* Modify live/watch page */
html #app .main-page.bg-page-wrapper.belive-main-page.bg-page-wrapper {
	/*background-color: #1e1e1e;*/
	/*background-image: unset;*/
}

/* Modify home page */
.belive-home-page {
}

/* Modify live page */
.belive-live-page {

}

/* Modify watch page */
.belive-watch-page {

}

#password-stream-modal .modal-body .guide {
	font-style: italic;
}

button.btn-sdk-action {
	border-radius: 100px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
	background-image: linear-gradient(259deg, #c12d85, #ea3d54);
	min-width: 223px;
	border: none;
	font-family: Avenir;
	font-size: 18px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

button.btn-sdk-action:hover {
	color: #ffffff;
}

button.btn-sdk-action:disabled, button.btn-sdk-action:disabled:hover {
	opacity: 0.85;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
	background-color: #e5e5e5 !important;
	background-image: none !important;
}

label.label-sdk {
	text-align: left;
	font-family: Avenir;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #484848;
}
input.input-sdk {
	border-radius: 25px;
	background-color: #e5e5e5;
	border: none;
}

.append-group-sdk {
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
	border: none !important;
}

.append-group-sdk .password-show-hide {
	top: 9px !important;
}

.overlay-card-sdk div {
	border-radius: 35px;
}

.password-group-sdk.be-password-field .input-group  .append-icon-show.input-group-append {
	background: #e5e5e5;
	display: inline-block;
	border: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #989494;
}

#password-modal .modal-content {
	border-radius: 35px;
	border: none;
}

@media (max-width: 767px) {
	#password-stream-modal header.modal-header {
		padding: 8px;
	}
	#password-stream-modal header.modal-header .modal-title {
		font-size: 12px;
	}
	#password-stream-modal .modal-body {
		padding: 10px;
	}
	#password-stream-modal .modal-body .guide {
		font-size: 12px;
		font-style: italic;
	}
	#password-stream-modal .modal-body button.btn-success {
		font-size: 12px;
		padding: 5px 15px;
	}
	
	button.btn-sdk-action {
		min-width: unset;
		padding: 10px 15px 7px 15px;
		font-size: 15px;
	}
}