.be-password-field {
	input.input-password {
		border-right: none;
	}

	.append-icon-show {
		background: white;
		display: inline-block;
		border: 1px solid #ced4da;
		border-top-right-radius: 10.8px;
		border-bottom-right-radius: 10.8px;
		padding: 0 10px;
		cursor: pointer;
		border-left: none;

		.password-show-hide {
			height: auto;
			position: relative;
			top: 7px;
		}
	}
}

@media (max-width: 768px) {
	.be-password-field {
		.input-group-text {
			font-size: 12px;
			padding: 5px;
			height: 30px;
		}

		input.input-password {
			height: 30px;
		}

		.append-icon-show {
			.password-show-hide {
				height: auto;
				position: relative;
				top: 2px;
			}
		}
	}
}
