@import "../../resources/telephone-input/sprite";

.be-phone-input {
    .be-select {
        position: relative;
        .ui-select {
            background-color: white;
            //border-radius: 40px;
            padding: .375rem .75rem;
            cursor: pointer;
            .label {
                margin: 0;
            }
            .selected {
                text-align: right;
                float: right;
                &:after {
                    content: " ";
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid #cbc9ca;
                    border-right: 2px solid #cbc9ca;
                    display: inline-block;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
        .list-search-options {
            opacity: 0;
            overflow: hidden;
            padding: 0;
            pointer-events: none;
            float: right;
            text-align: right;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
            -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out;
            transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out;
            z-index: 9;
            position: absolute;
            right: 0;
            width: 100%;
            padding-top: 10px;
            &.open {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: scale(1) translateY(0);
                -ms-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
                &:before {
                    color: white;
                    top: 0px;
                    right: 10px;
                    position: absolute;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: 0;
                    border-right: 8px solid transparent;
                    border-bottom: 11px solid;
                    border-left: 8px solid transparent;
                }
                input {
                    display: block;
                    padding: 5px 15px;
                    width: 100%;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    border: none;
                    border-bottom: 1px solid #cccc;
                    outline: none;
                }
                .list-options {
                    padding: 0;
                    list-style: none;
                    margin-bottom: 0;
                    max-height: 200px;
                    overflow: auto;
                    background: white;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    li.option {
                        cursor: pointer;
                        list-style: none;
                        outline: none;
                        padding: 5px 15px;
                        -webkit-transition: all 0.2s;
                        transition: all 0.2s;
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.77;
                        letter-spacing: normal;
                        color: #4a4a4a;
                        text-align: left;
                        &:hover {
                            background-color: #f6f7f9;
                        }
                        &.highlighted {
                            background: #f6f7f9;
                        }
                        &.selected {
                            font-weight: bold;
                            background-color: #58a7fd;
                            color: white;
                        }
                        .iti-flag.flag-item {
                            display: inline-block;
                            margin-right: 5px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                .empty-result {
                    margin-bottom: 0;
                    background: white;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    text-align: left;
                    font-size: 13px;
                    outline: none;
                    padding: 5px 15px;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.77;
                    letter-spacing: normal;
                    color: #4a4a4a;
                }
            }
        }
    }
    .phone-country {
        background-color: white;
        &:after {
            content: " ";
            width: 10px;
            height: 15px;
            border-right: 1px solid #da8ea1;
            display: inline-block;
        }
    }
}