.btn-basic {
    color: #fff;
    padding: 4px 25px;
    min-width: 120px;
    font-size: 13px;
    border-radius: 16px;
    border: 1px solid #00194b;

    &--lg {
        font-size: 15px;
        padding: 9px 25px;
        border-radius: 30px;
        border: 1.5px solid #00194b;
        font-weight: 700;
    }
}

.btn-navy-blue {
    background-color: #00194b;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        background-color: #01153c !important;
    }

    &--outlined {
        color: #00194b;
        background-color: #fff;

        &:hover,
        &:active,
        &:focus {
            background-color: #00194b !important;
            color: #fff !important;
        }
    }
}
