.card-chat-box {
    height: 500px;
    margin-bottom: 12px;

    @media only screen and (max-width:992px) {
        height: 300px;
        margin-bottom: 0
    }

    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .pinned-wrapper {
        .item-message-pin {
            position: relative;
            float: left;

            .message-room {
                border-radius: 14px;
                display: inline-block;
                padding: 2px 10px;
                color: white;
                font-size: 12px;
                background-color: #6e6c6d;

                .username {
                    color: #8dc9d4;
                    cursor: pointer;
                    font-weight: 600;
                }

                .message-content {
                    word-break: break-all;
                    white-space: pre-line;
                }
            }

            .pin-message-icon {
                display: inline-block;
                position: absolute;
                top: -12px;
                right: -12px;

                .img-icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .card-body {
        padding: 16px 0;
        overflow: auto;

        #list-messages-box {
            overflow: auto;
            height: 100%;
            position: relative;
        }

        &__joined-message-box {
            @media only screen and (max-height:400px) {
                display: flex;
                align-items: flex-end;
            }
        }

        &__message-box {
            @media only screen and (max-height:400px) {
                height: 20vh;
            }
        }

        .message-room {
            border-radius: 14px;
            display: inline-block;
            padding: 2px 10px;
            color: white;
            font-size: 12px;

            &--text-black {
                color: #424242
            }

            &__animated {
                animation: slideInLeft 0.3s ease-out
            }

            &.userJoin {
                background-color: #5685bd;
            }

            &.message,
            &.text,
            &.like {
                background-color: #6e6c6d;

                &.bg-white {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }

            &.followHost {
                background-color: #ffb8cc;
            }

            &.shareLiveStream {
                background-color: #c5b1fc;
            }

            &.gift {
                background-image: linear-gradient(to right, #4151d1, #81E6CC);
            }

            .username {
                color: #8dc9d4;
                cursor: pointer;
                font-weight: 600;

                &--joined {
                    color: #f37820;
                    font-weight: 300;
                }
            }

            .message-content {
                word-break: break-all;
                white-space: pre-line;
            }
        }
    }

    .card-footer {
        border-top: 0;
        padding: 16px 0;
        text-align: right;
        z-index: 2;

        .left-feature-mobile {
            display: inline-block;
            width: 35px;
            float: left;

            .icon-feature {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        .action-chat-wrapper {
            display: inline-block;
            width: 100%;
            float: left;

            .input-type-message {
                width: 70%;
                display: inline-block;
                border: none;
                border-radius: unset;
                height: 37px;
                float: left;
                resize: none;
                background-color: transparent;
                color: white;
                border-bottom: 1px solid #FFFFFF;

                &::placeholder {
                    color: white;
                }

                &.text-disabled {
                    line-height: 2;
                }
            }

            .btn-send-message {
                display: inline-block;
                border-radius: 18px;
                background-color: #F37820;
                padding: 3px 10px;
                color: white;
                font-size: 15px;
                position: relative;
                right: 0;
                top: 10px;
                height: 29px;
                width: 67px;

                &:hover {
                    background-color: #555555;
                    color: white;
                }
            }
        }

        .right-feature-mobile {
            display: inline-block;
            width: 100px;
            float: right;

            .icon-feature {
                cursor: pointer;

                &.icon-share {
                    margin-right: 20px;
                }
            }
        }
    }
}

.icon-heart {
    width: 36px;
    height: 31px;

    @media only screen and (max-width:992px) {
        width: 24px;
        height: 21px;
    }
}

.icon-share {
    width: 36px;
    height: 37px;

    @media only screen and (max-width:992px) {
        width: 24px;
        height: 25px;
    }
}

.slideInFadeOut-enter-active {
    animation: slideInLeft 0.3s ease-out;
}

.slideInFadeOut-leave-active {
    animation: fadeOut 0.3s ease-out;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .card-chat-box {
        height: 270px;

        .pinned-wrapper {
            padding: 0 16px;
        }

        .card-body {
            padding: 16px;

            .message-room {
                font-size: 10px;
            }
        }

        .card-footer {
            padding: 16px 16px 20px 16px;

            .action-chat-wrapper {
                width: calc(100% - 135px);
                float: left;
                padding: 0 15px;

                .input-type-message {
                    width: 100%;
                }

                .btn-send-message {
                    padding: 3px 10px;
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
