.btn-close-modal {
    top: 5px;
    right: 5px;
    position: absolute;
}

.copy-clipboard-modal {
    min-width: 350px;

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        color: #2d2d2d;
        font-weight: 900;
    }

    &__header {
        border: none;
        padding: 25px 0px 4px 0px !important;
    }

    &__content {
        padding: 16px;
        border-radius: 16px;
        border: solid 1px #979797;
        background-color: #f2f2f2;
        font-family: Roboto;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        @media only screen and (max-width: 576px) {
            max-width: 300px;
            margin: 0 3px;
        }
    }

    &__body {
        min-height: 90px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: #7b7878;
    }

    &__input {
        color: #8e8d8d;
        background-color: #d8d8d8 !important;
        text-align: center;
        border-radius: 0px;
    }


    &__footer {
        padding: 10px;
        padding-top: 0px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
