.bg-host-end-stream {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__img {
        width: 200px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #00194b;
    }

    &__title {
        margin: 0;
        font-size: 21px;
    }

    &__time {
        margin: 0;
        font-size: 15px;
    }
}

.btn-exit {
    text-transform: uppercase;
    font-size: 17px;
}

@media (max-width: 992px) {
    .bg-host-end-stream {
        &__content {
            height: 300px;
        }
    }
}