.card-info-host {
    width: 400px;

    @media only screen and (max-width:992px) {
        width: auto;
    }

    height: 110px;
    background-color: transparent;
    color: white;
    border: none;

    .card-body {
        padding: 10px 0;
        z-index: 2;

        .host-info-wrapper {
            float: left;
            position: relative;
            max-width: 180px;
            display: flex;
            align-items: center;

            .left-avatar {
                display: inline-block;
                margin-right: 5px;
                float: left;

                &.default-avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;

                    @media only screen and (max-width:992px) {
                        width: 40px;
                        height: 40px;
                    }

                    padding: 5px;
                }
            }

            .avatar-host {
                width: 40px;
                height: 7px;

                @media only screen and (max-width:992px) {
                    width: 30px;
                }

                position: relative;

                &.rounded-circle {
                    width: 35px;
                    height: 35px;
                }
            }

            .host-streamer-info {
                margin-top: 4px;
                display: inline-block;
                position: relative;
                max-width: calc(100% - 50px);
                min-width: 85px;
                float: left;

                .host-streamer-name {
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    max-height: 25px;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }

                .host-streamer-uid {
                    font-size: 12px;
                    margin-top: 3px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    max-height: 25px;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .action-unmute-wrapper {
            float: left;
            padding: 5px;
        }

        .feature-row {
            padding-top: 17px;

            .icon-feature {
                cursor: pointer;
            }

            &.mobile-layout {
                .icon-feature {
                    float: right;
                }
            }
        }

        .label-status-stream {
            @media only screen and (max-width:992px) {
                margin-left: 6px;
            }

            .live-badge {
                background-color: #fb4a59;
                font-size: 14px;
                padding-left: 17px;
                padding-right: 10px;
                position: relative;
                margin-top: 10px;

                &:before {
                    content: ".";
                    position: absolute;
                    bottom: 3px;
                    left: 7px;
                    font-size: 30px;
                    font-weight: 900;
                }
            }
        }

        .host-actions-area {
            text-align: right;

            .btn-follow {
                height: 37px;
                border-radius: 18.5px;
                position: relative;
                top: 14px;

                &:disabled {
                    background-color: #d8d8d8 !important;
                }

                &.btn-following {
                    border-radius: 18.5px;
                    border: solid 1.4px #fb2b62;
                    font-size: 13px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }
            }
        }

        .static-row {

            .static-info {
                max-width: 50px;
                display: inline-block;
                margin-right: 10px;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;

                &:last-child {
                    margin-right: 0;
                }

                .img-icon {
                    position: relative;
                    bottom: 1px;
                }

                .icon-liked {
                    width: 10px;
                }

                .icon-viewed {
                    width: 13px;
                }
            }
        }

        &.mobile-layout {
            .host-info-wrapper {
                padding: 7px 10px 7px 10px;
                background: #534d4599;
                border-radius: 50px;
            }

            .feature-row {
                .icon-feature {
                    float: right;
                }
            }
        }
    }
}

.icon-cart {
    width: 52px;
    height: 52px;

    @media only screen and (max-width:992px) {
        width: 35px;
        height: 35px;
        margin-right: 4px;
    }
}

.icon-redeem {
    width: 63px;
    height: 63px;

    @media only screen and (max-width:992px) {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .card-info-host {
        .card-body {
            .host-streamer-info {
                .host-streamer-name {
                    font-size: 12px;
                }

                .host-streamer-uid {
                    font-size: 10px;
                }
            }

            .host-actions-area {
                text-align: right;

                .btn-follow {
                    height: 24px;

                    &.btn-following {
                        font-size: 10px;
                    }
                }
            }

            .static-row {

                .static-info {
                    margin-right: 15px;

                    &:last-child {}

                    .img-icon {}

                    .icon-liked {}

                    .icon-viewed {}
                }
            }
        }
    }
}

@media (max-width: 576px) {}
