.card-stream-chat-box {
	height: 100%;
	background-color: transparent;
	border: none;
	margin-bottom: 40px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	.card-header {
		border: none;
		padding-top: 8px;
		padding-bottom: 6px;
		background-color: #ebebeb;
		font-family: Avenir;
		.host-room {
			display: inline-block;
			line-height: 1.5;
			font-size: 15px;
			font-weight: 900;
			color: #ea3d54;
			padding: 5px 0;
			max-width: 40%;
		}
		.tab-switch {
			text-align: center;
			.action-switch-tab {
				vertical-align: middle;
				margin: 0 auto;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				.icon-tab {
					cursor: pointer;
				}
				&.watching-menu {
					font-size: 15px;
					font-weight: 900;
					color: #6d7278;
					&.active {
						color: #ea3d54;
					}
				}
			}
		}

		.static-row {
			.static-info {
				display: inline-block;
				margin-right: 10px;
				font-size: 13px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;

				&:last-child {
					margin-right: 0;
				}

				.img-icon {
					position: relative;
					bottom: 1px;
				}

				.icon-liked {
					width: 10px;
				}

				.icon-viewed {
					width: 13px;
				}
			}
		}
	}

	.card-body {
		padding: 16px 16px 0;
		overflow: auto;

		#list-messages-box {
			overflow: auto;
			height: 100%;
			position: relative;
		}
		.message-room {
			border-radius: 14px;
			display: inline-block;
			padding: 4px 10px 2px;
			line-height: 1.5;
			font-size: 10px;
			color: white;

			&.userJoin {
				background-color: #5685bd;
			}

			&.message, &.text, &.like {
				background-color: #6e6c6d;
			}

			&.followHost {
				background-color: #ffb8cc;
			}

			&.shareLiveStream, &.share-screen {
				background-color: #c5b1fc;
				.username {
					color: darkslateblue;
				}
			}

			&.gift {
				background-image: linear-gradient(to right, #4151d1, #81E6CC);
			}

			.username {
				color: #8dc9d4;
				cursor: pointer;
				font-weight: 600;
			}

			.message-content {
				word-break: break-all;
				white-space: pre-line;
			}
		}

		.list-watching-users {
			.user-watching {
				padding: 4px 0;
				.avatar {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					display: inline-block;
					background-color: transparent;
					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
					.first-character-name {
						position: relative;
						top: 0;
						left: 0;
						-webkit-transform: translate(11.5px, 8px);
						transform: translate(11.5px, 8px);
						width: 10px;
						font-family: Avenir;
						font-size: 15px;
						font-weight: 900;
						color: #ffffff;
						display: inline-block;
						text-transform: uppercase;
					}
				}
				.display-name {
					display: inline-block;
					font-size: 15px;
					color: #2d2d2d;
					padding-left: 10px;
					&.display-name-without-avatar {
						position: relative;
						top: 7px;
					}
				}
				.action-user-watching {
					font-family: Avenir-Roman;
					font-size: 15px;
					color: #2d2d2d;
					text-align: right;
					float: right;
					padding: 5px 0 5px 10px;
					display: none;
					.action {
						cursor: pointer;
						&.kick-user-action {
							padding-right: 10px;
						}
					}
				}
				&:hover {
					.action-user-watching {
						display: inline-block;
					}
				}
			}
		}
	}

	.card-footer {
		border-top: 0;
		padding: 0 16px 16px;
		text-align: right;
		z-index: 2;

		.send-to-option {
			text-align: left;
			padding: 5px 0;
			font-family: Avenir;
			.basic-text {
				font-size: 12px;
				font-weight: 500;
				color: #2d2d2d;
				display: inline-block;
			}
			.option-send {
				display: inline-block;
				#dropdown-mode-chat {
					.dropdown-toggle {
						font-family: Avenir;
						font-size: 12px;
						font-weight: 500;
						color: #ffffff;
						border-radius: 5px;
						background-color: #0091ff;
						&:after {
							vertical-align: 0.1em;
						}
					}
					.dropdown-menu {
						border-radius: 5px;
						border: solid 0.5px #979797;
						background-color: #ffffff;
						&.show {
							padding: 0;
						}
						header#dropdown-header-label {
							font-size: 12px;
							font-weight: 500;
							color: #2d2d2d;
							padding: 7px 10px 5px;
							border-bottom: solid 0.5px #d3d1d1;
						}

						.dropdown-item {
							padding: 5px 10px;
							&:hover {
								text-decoration: none;
								background-color: unset;
								color: #0056b3;
							}
							.item-option-chat-mode {
								padding-left: 20px;
								&.selected-item {
									padding-left: 0;
									svg {
										width: 15px;
										color: #2196f3;
									}
								}
							}
						}
					}
				}
			}
		}


		.input-type-message {
			width: calc(100% - 65px);
			display: inline-block;
			border-radius: 18px;
			border: none;
			height: 37px;
			padding: 5px 10px;
			float: left;
			resize: none;
			background-color: #e5e5e5;
			font-family: Avenir;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.9;
			letter-spacing: normal;
			color: #898587;

			&.text-disabled {
				line-height: 2;
			}
		}

		.btn-send-message {
			display: inline-block;
			border-radius: 18px;
			background-image: linear-gradient(236deg, #c12d85, #ea3d54);
			font-family: Roboto;
			font-size: 13px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #ffffff;
			padding: 8px 10px;
			&:hover {
				background-color: #555555;
				color: white;
			}
		}
	}
}

@media (max-width: 1200px) {
	.card-stream-chat-box {
		.card-header {
			.host-room {
				font-size: 10px;
			}
			.tab-switch {
				.watching-menu {
					font-size: 10px;
				}
			}
			
			.static-row {
				.static-info {
					font-size: 10px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.card-stream-chat-box {
		.card-body {
			.message-room {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 768px) {
	.card-stream-chat-box {
		height: 300px;
	}
}

@media (max-width: 576px) {

}
