.info-footer {
	background-color: #555555;
	padding: 20px;
	height: 63px;
	.col-info-footer {
		box-sizing: border-box;
		position: relative;
		font-size: 20px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		text-align: center;
		.link-footer {
			color: #ffffff;
		}

		&:after {
			content: " ";
			width: 1px;
			height: 23px;
			border: solid 1px #ffffff;
			display: inline-block;
			position: absolute;
			right: 0;
		}

		&:last-child {
			&:after {
				content: "";
				border: none;
			}
		}

		&.policy-footer {
			text-align: left;
			padding-left: 85.5px;
		}

		&.about-us-footer {
			text-align: right;
			padding-right: 85.5px;
		}
	}
}

@media (max-width: 992px) {
	.info-footer {
		padding: 10px 0;
		height: 40px;
		.col-info-footer {
			font-size: 10px;
			line-height: 2;
			padding-left: 10px;
			padding-right: 10px;

			&:after {
				content: " ";
				width: 1px;
				height: 23px;
				border: solid 1px #ffffff;
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
			}

			&:last-child {
				&:after {
					content: "";
					border: none;
				}
			}

			&.policy-footer {
				text-align: left;
				padding-left: 20px;
			}

			&.about-us-footer {
				text-align: right;
				padding-right: 20px;
			}
		}
	}
}


@media (max-width: 576px) {
	.info-footer {
		.col-info-footer {
			font-size: 8px;
			line-height: 3;
			padding-left: 8px;
			padding-right: 8px;

			&:after {
				right: 0;
				top: 0;
			}

			&.policy-footer {
				text-align: left;
				padding-left: 15px;
			}

			&.about-us-footer {
				text-align: right;
				padding-right: 15px;
			}
		}
	}
}
