.primary-header {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .85) !important;
    position: relative;
    z-index: 10;
}

header#header {
    display: block;
    height: 68px;

    .bg-primary-custom {
        border: solid 1px #cccccc;
        background-color: #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

        .navbar-brand {
            padding: 0;
        }

        .btn-belive-sign-up {
            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ea3d54;
            background: white;
            border: none;
        }

        .btn-belive-login {
            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            border-radius: 7px;
            background-color: #ea3d54;
            color: white;
            padding: 5px 20px;
        }

        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
        }
    }
}

.navbar-custom {
    width: 100%;
}

.navbar {
    &__item {
        font-size: 18px;
        margin: 11px 25px 10px 25px;
        font-weight: 700;
        color: #231f20
    }

    &__item-right {
        font-size: 18px;
        margin: 11px 15px 10px 15px;
        font-weight: 700;

    }

    &__item-img {
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        margin-right: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media (max-width: 992px) {
    header#header {
        .bg-primary-custom {
            .nav-menu-custom {
                position: relative;
            }

            #nav-collapse {
                background-color: rgba(0, 0, 0, 0.075);
                padding: 10px;

                .btn-belive-sign-up {
                    margin-bottom: 10px;
                }

                .btn-belive-login {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .navbar {
        &__item {
            margin: 11px 15px 10px 15px;
        }
    }
}
