.belive-player-page {
    .switch-layout {
        margin: 0 auto;
    }
	.player-wrapper-layout {
        display: flex;
		margin-top: 50px;

        .content-wrapper {
            height: 100%;
        }

        .main-wrapper {
            display: inline-flex;
            width: 70%;
        }
        .sub-wrapper {
            padding-left: 10px;
            flex-direction: column;
            width: 30%;
            display: inline-flex;
            .item-mini {
                width: 100%;
                padding: 5px 0;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .video-js-player-wrapper {
            .info-layout {
                position: absolute;
                top: 0;
                right: 0;
                background-color: black;
                border: 2px solid white;
                color: white;
                z-index: 3;
                padding: 5px 10px;
                font-weight: 800;

                @include respond(phone) {
                    padding: 1px 3px;
                    font-size: 8px;
                }
            }

            .actions-layout {
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
                background: black;
                padding: 3px 7px;
                cursor: pointer;
                z-index: 2;
            }

            .quality-level {
                word-break: break-all;
            }

            .more-actions {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
            }
        }
	}
}
