.suntec-watch-page {
	padding: 0 30px !important;
	background: black;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100); /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(100vh - 68px);
	.b-overlay-wrap {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.suntec-watch-page {
		padding: 0 !important;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100); /* Use vh as a fallback for browsers that do not support Custom Properties */
		height: 100vh;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}